body {
  background-color: yellow;
  color: grey;
}

button {
  width: 100px;
  height: 30px;
  border: 3px soldi white;
  border-radius: 50px;
  background: white;
  color: black;
  outline: none;
}

#watch {
  font-size: 100px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -55%);
}
#button {
  position: absolute;
  top: 55%;
  left: 48.4%;
  transform: translate(-51.6%, -45%);
}
#button li {
  display: inline;
  padding: 10px;
}
